body {
	background-color: black;
	color: white;
	font-family: 'VT323', monospace;
}
h1{
	font-size: 40px;
	width: 500px;
	margin: 30px 150px 10px 150px;
}
.wrapper {
	width: 700px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.title {
	display: block;
	margin: 0px auto 20px auto;
	width: 320px;
	height: 70px;
}

.title button {
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 1px;
}

button {
	background-color: black;
   color: white;
	font-family: 'VT323', monospace;
	font-size: 18px;
	font-weight: bold;
}
#container {
   height: 370px;
   width: 370px;
   display: block;
   margin: 0px auto;
}

.row {
	width: auto;
	display: block;
	width: 360px;
	background-color: blue;
}

.square {
	display: inline-block;
}

.circle {
	border-radius: 50%;
}

.rubber {
	background-color: blue;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.reset {
	background-color: red;
	margin: 25px auto 0px auto;
	display: block;
	font-size: 30px;
}
