#container {
   height: 850px;
   width: 850px;
   display: block;
}

.row {
	width: auto;
	display: block;
	width: 841px;
}

.square {
	background-color: blue;
	display: inline-block;
	outline: black 1px solid;
}

#covered {
	background-color: red;
}
